version: '3'

services:
    # Main application service
    app:
      build:
        context: app
        dockerfile: Dockerfile
      environment:
          SPRING_DATASOURCE_URL: jdbc:postgresql://db:${POSTGRES_PORT}/${POSTGRES_DB}
      depends_on:
        db:
          condition: service_healthy
      ports:
        - '8080:8080'
      networks:
        - 'frontend'
        - 'backend'

    # Database service
    db:
     image: postgres:17.2
     restart: 'on-failure'
     environment:
       POSTGRES_DATABASE: ${POSTGRES_DB}
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_USER: ${POSTGRES_USER}
     healthcheck:
       test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
       interval: 1s
       retries: 2
       timeout: 1s
     volumes:
       - './db/init:/docker-entrypoint-initdb.d'
       - './db/config:/etc/postgresql/data'
     ports:
       - "5432:${POSTGRES_PORT}"
     networks:
       - 'backend'

networks:
  frontend:
  backend: