version: '3'

services:
    # Main application service
    app:
      build:
        context: app
        dockerfile: Dockerfile
      depends_on:
        - db
      ports:
        - '8080:8080'
      networks:
        - 'frontend'
        - 'backend'

    # Database service
    db:
     image: postgres:17.2
     restart: 'on-failure'
     environment:
       POSTGRES_DATABASE: ${POSTGRES_DB}
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_USER: ${POSTGRES_USER}
     volumes:
       - './db/init:/docker-entrypoint-initdb.d'
       - './db/config:/etc/postgresql/data'
     ports:
       - '5432:5432'
     networks:
       - 'backend'

networks:
  frontend:
  backend: